p {
    color: red;
}

.cum {
    color: lightblue;
    background-color: black;
}

.beanie {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: royalblue;
    background-color: chartreuse;
}